body
{
    background-color: bisque;
}

table, td, form
{
    border: 2px solid blue;
}

form
{
    padding: 10px;
}

table, #formAbm
{
    text-align: center;
}

h1
{
    text-align: center;
}

.center
{
    width: 50vw;
    margin: auto;
    /* padding: 1vw; */
}